body { 
      margin:0; 
      padding:0; 
       overflow:hidden;
}
#map { 
    position:absolute; top:5%; bottom:0; 
    width:100%;
    height:100vh;
}

.navbar-toggle{
    float: left;
    display: block;
    margin-left: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.navmenu{
    overflow:hidden;
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 300px;
  margin-top: 80px;
  padding-left: 10px;
  margin-right: 10%;
  width: 250px;
  line-height: 20px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 25px;
  height: 15px;
  margin-right: 5px;
}

.checkbox{
    float: right;
    margin-right: 5%;
}

.shown-label{
    float: left;
    margin-top:15px;

}

#current-show-label{
    font-weight: 600;
}

.slidercontainer{
    float: right;
    width: 200px;
    margin-right: 5%;
}

.labelslidercontainer{
    float:right;
    width: 150px;
}

#slider{
    margin-top:15px;
}

#slider-label{
    margin-top:15px;
    font-weight: 400;
}